.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10vw;

  .title {
    font-size: 1.5rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  nav {
    & ul {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      gap: 1rem;
    }

    li {
      list-style: none;
      position: relative;

      &::before {
        content: "\200B";
        position: absolute;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        background-color: currentColor;

        transform: scaleX(0);
        transform-origin: center;

        transition: transform 100ms ease-in;
      }

      &.current {
        pointer-events: none;
        color: grey;
      }

      &.current::after,
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}
