html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  margin: 5vh auto;
  width: fit-content;
}

// Buttons {
.button {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;

  color: white;
  background-color: rgba(black, 0.9);

  font-size: inherit;
  font-family: inherit;
  display: inline-block;

  text-decoration: none;

  position: relative;

  z-index: 1;

  &::before {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";

    background-color: rgb(66, 66, 66);

    border-radius: inherit;
    z-index: -1;

    transform: scale(0);
    transition: 100ms ease-in;
  }

  &:hover::before {
    transform: scale(1);
  }
}

//Tooltips
[aria-label] {
  position: relative;

  &::after {
    // positioning
    position: absolute;
    content: attr(aria-label);
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    // general styling
    white-space: nowrap;
    background-color: rgb(38, 38, 38);
    color: white;
    padding: 0.5em 0.8em;
    border-radius: 0.5em;

    // hide + animation
    opacity: 0;
    transition: opacity 100ms ease-in;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      background-color: inherit;
      top: 100%;
      left: 50%;

      width: 1em;
      height: 1em;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &:hover::after {
    opacity: 100;
  }
}

// .ce-header[contentEditable="true"][data-placeholder]::before {
//   pointer-events: none;
// }
